.body{
    background-color: #FFFFFF;
    color:#212121;
    font-family: 'Roboto',sans-serif;
}
.decoration{
    text-decoration: none;
}
.list{list-style: none;}
/*logo*/
.logo-link{
    color: #2196F3;
    font-family: 'Raleway',
        sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        
}
.logo-header{
    color: #000000;
    
}

/*site-nav*/
.site-nav{
   font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
}
.studio{
   font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    color: #212121;
    

    }
    .studio.current{
        color: #2196F3;
    }
.studio:hover,
.studio:focus
{ color: #2196F3;
    
    }
.portfolio{
   font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
    color: #212121;}
    
.portfolio.current{
    color: #2196F3;
}

.portfolio:hover,
.portfolio:focus
{
    color: #2196F3;
}
.contacts {
    color: #212121;
    
}
.contacts:hover {
    color: #2196F3;
}
.contacts:focus{
    color: #2196F3;
}
/*auth-nav*/
.mail,.tell{color: #757575;
   font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    }
.mail:hover,.tell:hover {
    color: #2196F3;

}
.mail:focus,.tell:focus {
    color: #2196F3;
}
/*header*/
.header {
     font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        text-align: center;
        background-color: #2F303A;
            color: #FFFFFF;
    }
.button {
    cursor: pointer;
    background-color: #2196F3;
    color:#FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color:#2196F3;
    font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;
}
.button:focus {
    color: #FFFFFF;
}
.button:hover {
    background-color: #188CE8;
    cursor: pointer;
}
/*features*/
.features {
    font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;

}
.feature {
   font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.feat {
    color: #757575;
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
}
/*work*/
.work{
font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
}
/*team*/
.our-team {
background-color:#F5F4FA; ;
}
.team {
font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.background {
 background-color: #FFFFFF;
 ;
}
.who {
   font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em
}
.about {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: #757575;
}
/*footer*/
.foot-bcg {
    background-color: #2F303A; 
    }
        .logo{
            color: #2196F3;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
           }
      .logo-head {
      color: #FFFFFF;
    
     }
.address {
font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
}      
.mail-foot,.tell-foot{
    font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}       
.mail-foot:hover,
.mail-foot:focus{
    color: #2196F3;
}

.tell-foot:hover,
.tell-foot:focus {
    color: #2196F3;}
.portfolio-body{
    background-color: #F5F5F5;
    color: #212121;
        
}
    .button-log {
font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.03em;
        border-radius: 4px;
        border-color:#F5F4FA;
        color: #212121;
        cursor: pointer;
    }
.button-log:hover,
.button-log:focus {
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: #2196F3;
    cursor: pointer;

box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.name {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: b36px;
        letter-spacing: 0.06em;
        color:#212121;
        }
.description {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #757575;
}


